@model ProTeamManager2.Models.UserstoryData


@{
    ViewBag.Title = "Userstory";
}

<head>
    
  @Styles.Render("~/Content/mystyles")
  @Scripts.Render("~/bundles/mybundle")
  @Scripts.Render("~/bundles/Userstory.js")
    
    </head>

<div id ="body">

    <div id="tabs">
	<ul>
		<li><a href="#tabs-1">User Stories</a></li>
	</ul>

        <div id="tabs-1">

             <div> 

            @Html.ActionLink("Create New Userstory", "Create", "Userstory")
        </div>

             <table id="assetDetailsNavTable" class="assetDetailsNavTable">
              <thead>
               <tr>
                <th> Name</th>
                <th> Description </th>
                <th> Associated Sprint</th>                             
               </tr>
             </thead>
               <tbody id="tableBody">
                   @if (Model != null)
                   {

                   foreach(var t in Model.allUserStories)
                   {
                       
                       if(t!= null)
                       {
             <tr>
             <td><a href="/Task/Task/@t.Id"> @t.Name</a></td>
             <td>@t.descriprion</td>
             <td>@t.associatedSprint</td>
             <td>(<a href="/Userstory/Edit/@t.Id"  style="color: blue;">edit</a>) / (<a href="/Userstory/Delete/@t.Id"  style="color: blue;">delete</a>)</td>
             <td>
                 <a href="@Url.Action("UserStoryProgress", "Graph", new { id = t.Id })">Progress Graph</a>
             </td>
             </tr>
                       }
                   }
                 }
  
             </tbody>
           </table>